.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd

mlruns
artifacts
data/raw
data/processed
data/reference

notebooks
.ipynb_checkpoints

.vscode
.idea
.DS_Store

.assets

*.joblib
*.parquet
*.html
