# Все артефакты
/artifacts/metrics/
/artifacts/models/
/artifacts/predictions/
/artifacts/reports/
/artifacts/shap/

# Логи прогонов
/mlruns/
/logs/

# Данные
/data/raw/
/data/processed/
/data/reference/

# Окружение
.venv/
.env
.env.docker.local

# Скомпилированное
__pycache__/
*.pyc
*.pyo   
*.pyd

# Notebook checkpoints
.ipynb_checkpoints/

# Прочее
/dump/
/docs/
*.bak
